/* Reset local */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Layout principal */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 40px;
}

.esquerda,
.direita {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form-step.active {
  display: block;
  animation: fade 0.3s ease-in-out;
}


/* Imagem lateral */
.direita img {
  max-width: 75%;
}

/* Cabeçalho */
.topo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topo h2 {
  font-size: 30px;
  color: #333;
}

/* Steps */
.steps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-top: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.step span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #666;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
}

.circle.active {
  background-color: #03bcd3;
}

/* Formulário */
.form-step {
  display: none;
}

.form-step.active {
  display: block;
  animation: fade 0.3s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botões */
.btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #03bcd3;
  background-color: white;
  color: #03bcd3;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #e4f8fb;
}

.btn.next {
  background-color: #ffffff;
  color: #03bcd3;
}

.btn.cancelar {
  background-color: #ffffff;
  color: #03bcd3;
  border: 1px solid #03bcd3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancelar:hover {
  background-color: #bbb;
}
.cadeiras-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cadeiras-lista {
  list-style: none;
  padding-left: 0;
}

.cadeiras-lista li {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 6px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.cadeiras-lista button {
  background: transparent;
  border: none;
  color: red;
  font-size: 14px;
  cursor: pointer;
}
