.sessao-detalhes {
  padding: 30px;
  max-width: 700px;
}

.voltar-home {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.voltar-home img {
  width: 25px;
}

.voltar-home span {
  font-size: 12px;
  color: #a3a3a3;
  margin-left: 3px;
}

.titulo-monitoria {
  font-size: 24px;
  margin-bottom: 10px;
}

.nome-monitor {
  font-size: 16px;
  margin-bottom: 10px;
}

.horarios {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.horarios li {
  margin-bottom: 5px;
}

.link-reuniao a {
  color: #03bcd3;
  text-decoration: none;
}

.link-reuniao a:hover {
  text-decoration: underline;
}

.botoes-acoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.botoes-acoes button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.botoes-acoes button:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
  transition: 0.2s ease;
}

.resumo-lateral {
  width: 200px;
  background-color: #fff;
  border-left: 1px solid #eee;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.comentarios {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
}

.comentarios::-webkit-scrollbar {
  width: 5px;
}

.comentarios::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}


.btn-material {
  background-color: #3498db;
}
.btn-chat {
  background-color: #9b59b6;
}
.btn-avaliar {
  background-color: #f39c12;
}
.btn-excluir {
  background-color: #e74c3c;
}

.modal-exclusao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-conteudo {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-conteudo p {
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 20px;
}

.modal-conteudo button {
  background-color: #03bcd3;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.sessao-topo {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.info-principal {
  flex: 1;
  min-width: 300px;
}

.resumo-lateral {
  width: 200px;
  background-color: #fff;
  border-left: 2px solid #eee;
  padding-left: 20px;
}

.estrela-media {
  font-size: 22px;
  font-weight: bold;
  color: #f1c40f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.estrela-media small {
  font-size: 12px;
  color: #aaaaaa;
}
.comentario-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #d6d6d6;
  font-size: 15px;
}
.comentarios ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  color: #555;
}

.comentarios li {
  margin-bottom: 6px;
}
