* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  background-color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  gap: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  padding: 40px;
  gap: 40px;
}

.esquerda {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo-fixa {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 150px;
  z-index: 1000;
}


.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.btn, .btn2 {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  background-color: #03bcd3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn2 {
  background-color: #d8fcff;
  color: #03bcd3;
  border: 1px solid #03bcd3;
  cursor: pointer;
}
.btn2:hover {
  background-color: #bff7fc;
}

.btn-form {
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid #03bcd3;
      background-color: white;
      color: #03bcd3;
      cursor: pointer;
}
.btn-form:hover {
  background-color: #cbf0f5;
}

.linha-com-texto {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
  margin: 20px 0;
}

.linha-com-texto::before,
.linha-com-texto::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #bbb;
}

.linha-com-texto::before {
  margin-right: 10px;
}

.linha-com-texto::after {
  margin-left: 10px;
}

.direita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direita img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .esquerda, .direita {
    width: 100%;
  }
}
