.chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
}

.voltar-home {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 30px;
}

.voltar-home span {
  font-size: 12px;
  color: #999;
}

.chat-header {
  padding: 20px 30px 10px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(65, 65, 65);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.infos strong {
  font-size: 16px;
}

.infos .online {
  color: green;
  font-size: 14px;
}

.chat-mensagens {
  flex: 1;
  padding: 20px 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mensagem {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 1.4;
}

.monitor {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.aluno {
  background-color: #d1f5e4;
  align-self: flex-end;
}

.chat-input {
  padding: 15px 30px;
  display: flex;
  border-top: 1px solid #ddd;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 14px;
}

.chat-input button {
  background-color: #03bcd3;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.btn.enviar{
  width: 100px;
}